/* Slider animation  */
.BrainhubCarouselItem--active > div {
    transform: scale3d(2, 2, 1);
    transition: transform 0.5s ease-in;
    overflow: auto;
}

.BrainhubCarousel__track {
    overflow: visible;
    height: 12rem;
}
